!-- app/templates/chef/recipe_category.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_recipe_category %}
        Add Recipe Category
    {% else %}
        Edit Recipe Category
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_recipe_category %}
                <h1>Add Recipe Category</h1>
            {% else %}
                <h1>Edit Recipe Category</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}